body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; /* Let grå baggrund for at give kontrast */
}

h3 {
    margin: 2rem 0; /* Ensartet margin omkring overskriften */
}

EditForm {
    background-color: #ffffff; /* En lysere baggrundsfarve for formularen */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2rem 260px 2rem 260px; /* Ensartet margin omkring formularen */
    max-width: 600px;
}

label, InputText, InputSelect, InputNumber, InputDate {
    display: block;
    width: 100%; /* Gør inputfelter fuld bredde af containeren */
    margin: 1rem 0; /* Ensartet margin omkring labels og inputfelter */
}

button[type="submit"], button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
    display: block; /* Gør knapperne blokniveau */
}

    button[type="submit"]:hover, button:hover {
        background-color: #0056b3;
    }

    button[type="submit"]:active, button:active {
        background-color: #004499;
    }

ol {
    margin-top: -30rem;
    margin-right: 260px;
    margin-bottom: 2rem;
    margin-left: 300px;
    border: 1px solid #e0e0e0;
    padding: 1rem;
    padding-right: 5rem; /* Forøget højre padding */
    border-radius: 10px;
    max-width: 800px; /* Justere denne værdi for at øge bredden af boksen, hvis nødvendigt */
}



    ol li p {
        font-size: 0.9rem;
        margin: 0.5rem 0;
    }
