@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <!-- Placér denne for- eller bagved <main> elementet, for at flytte det -->
    <div class="sidebar">
        <NavMenu />
    </div>
    <!-- Placér denne for- eller bagved <main> elementet, for at flytte det -->
</div>

