h3[b-9yeh4whhl1] {
    color: darkblue;
    text-align: center;
}

.filter-section[b-9yeh4whhl1] {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.add-todo-section[b-9yeh4whhl1] {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-table[b-9yeh4whhl1] {
    width: 100%;
    border-collapse: collapse;
}

    .todo-table[b-9yeh4whhl1], .todo-table th[b-9yeh4whhl1], .todo-table td[b-9yeh4whhl1] {
        border: 1px solid gray;
    }

        .todo-table th[b-9yeh4whhl1], .todo-table td[b-9yeh4whhl1] {
            padding: 8px;
            text-align: left;
        }

.priority-selector[b-9yeh4whhl1] {
    margin: 0;
}

input[type="checkbox"][b-9yeh4whhl1] {
    margin-right: 10px;
}
