h3[b-9yeh4whhl1] {
    color: darkblue;
}

ul[b-9yeh4whhl1] {
    list-style-type: none;
}

li[b-9yeh4whhl1] {
    margin-bottom: 10px;
}

input[type="checkbox"][b-9yeh4whhl1] {
    margin-right: 10px;
}
